body {
  background-color: #000;
}
.wrap {
  overflow: hidden;
}
.wrap_inner {
  margin: 0 auto;
}
/* 헤더 */
header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
  font-size: 0.9vw;
  background: rgba(0,0,0,.8);
  z-index: 99999;
}
.header_inner {
  /* width: clamp(1000px, 68vw, 1300px); */
  width: 1300px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.logoBox {
  position: absolute;
  left: 60px;
  width: 125px;
}
.logoBox img {
  width: 100%;
}
nav {
  margin: 0 auto;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  padding: 0.8vw ;
  margin: 0 1vw;
}
nav ul li a,
nav ul li a:active, 
nav ul li a:visited {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
}
.langBox {
  position: absolute;
  right: 80px;
}
.langBox a {
  position: relative;
  color: #fff;
  font-size: 1.8rem;
  margin-left: 10px;
}
.langBox a:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: red;
}

/* 콘텐츠 공통 */
.container {
  width: 100%;
}
section {
  width: 100%;
  height: 100vh;
}
.inner {
  max-width: 1300px;
  width: 68vw;
  min-width: 1000px;
}
/* 콘텐츠 */
/* CONTENT01 */
#content01 {
  width: 100%;
}
/* ---- particles.js container ---- */ 
#tsparticles{ 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  width: 100%; 
  height: 100%; 
  background-color: #000000; 
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: 50% 50%; 
  overflow: hidden;
}
#content01 .inner {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#content01 .textBox,
#content01 .imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
#content01 .textBox p {
  color: #fff;
  font-size: 3rem;
  line-height: 5rem;
  margin-top: 50px;
}
#content01 .textBox span {
  font-size: 4rem;
  font-weight: bold;
}
#content01 .imgBox_inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content01 .imgBox_inner p {
  position: absolute;
  left: 2px;
  color: #000;
  font-size: 180px;
  font-weight: 900;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #b71b1b,
    0 0 15px #b71b1b,
    0 0 20px #b71b1b;
  /* animation: lightSpark 3s linear infinite; */
}
@keyframes lightSpark {
  0%, 100% {
    color: #000;
    text-shadow: none;
  }
  50% {
    color: #000;
    
  }
}
#content01 .imgBox_inner img {
  width: 45rem;
  filter: brightness(1.5);
}
#content01 .imgBox_inner span {
  position: absolute;
  top: 30px;
  left: 10px;
  display: block;
  background-color: #000;
  width: 100px;
  height: 45px;
}

/* content02 */
#content02 {
  position: relative;
  width: 100vw;
  height: 100vh;
}
#particles-js {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 98%;
  height: 98%;
}
#content02 .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#content02 .title {
  color: #fff;
  font-size: 2.4rem;
}
#content02 .content_des {
  color: #fff;
  font-size: 3.4rem;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
#content02 .imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 880px;
}
#content02 .imgBox img:nth-child(1) {
  width: 100%;
}
#content02 .imgBox img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30%;
}
#content02 .textBox {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 110px;
}
#content02 .textBox p{
  color: #fff;
  font-size: 2.8rem;
  margin: 0 3vw;
}

/* content03 */
#content03 {
  color: #fff;
  overflow: hidden;
}
#content03 #inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}
#content03 .container {
  position: relative;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-reflect: below 1px linear-gradient(#0001, #0004);
}
#content03 .loader {
  position: relative;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #b71b1b14;
  animation: animate 5s linear infinite;
}
#content03 #inner.p01 .loader {
  background-color: #78c5ff2c;
}
#content03 #inner.p02 .loader {
  background-color: #c600b22f;
}
#content03 #inner.p03 .loader {
  background-color: #005a9f38;
}
#content03 #inner.p04 .loader {
  background-color: #5d009f2b;
}
#content03 #inner.p05 .loader {
  background-color: #fbba6025;
}
@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#content03 .loader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to top, transparent, #b71b1b);
  background-size: 400px 720px;
  background-repeat: no-repeat;
  border-top-left-radius: 400px;
  border-bottom-left-radius: 400px;
}
#content03 #inner.p01 .loader::before {
  background: linear-gradient(to top, transparent, #78c4ff);
}
#content03 #inner.p02 .loader::before {
  background: linear-gradient(to top, transparent, #c600b1);
}
#content03 #inner.p03 .loader::before {
  background: linear-gradient(to top, transparent, #005a9f);
}
#content03 #inner.p04 .loader::before {
  background: linear-gradient(to top, transparent, #5e009f);
}
#content03 #inner.p05 .loader::before {
  background: linear-gradient(to top, transparent, #fbbb60);
}
#content03 .loader::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: #d52525;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 10px #ff0000,
  0 0 20px #ff0000,
  0 0 30px #ff0000,
  0 0 40px #ff0000,
  0 0 50px #ff0000,
  0 0 60px #ff0000,
  0 0 70px #ff0000,
  0 0 80px #ff0000,
  0 0 90px #ff0000,
  0 0 100px #ff0000,
  0 0 110px #ff0000,
  0 0 120px #ff0000,
  0 0 130px #ff0000;
}
#content03 #inner.p01 .loader::after {
  background-color: #a0d6ff;
  box-shadow: 0 0 10px #78c4ff,
  0 0 20px #78c4ff,
  0 0 30px #78c4ff,
  0 0 40px #78c4ff,
  0 0 50px #78c4ff,
  0 0 60px #78c4ff,
  0 0 70px #78c4ff,
  0 0 80px #78c4ff,
  0 0 90px #78c4ff,
  0 0 100px #78c4ff,
  0 0 110px #78c4ff,
  0 0 120px #78c4ff,
  0 0 130px #78c4ff;
}
#content03 #inner.p02 .loader::after {
  background-color: #e029ce;
  box-shadow: 0 0 10px #c600b1,
  0 0 20px #c600b1,
  0 0 30px #c600b1,
  0 0 40px #c600b1,
  0 0 50px #c600b1,
  0 0 60px #c600b1,
  0 0 70px #c600b1,
  0 0 80px #c600b1,
  0 0 90px #c600b1,
  0 0 100px #c600b1,
  0 0 110px #c600b1,
  0 0 120px #c600b1,
  0 0 130px #c600b1;
}
#content03 #inner.p03 .loader::after {
  background-color: #3992d7;
  box-shadow: 0 0 10px #005a9f,
  0 0 20px #005a9f,
  0 0 30px #005a9f,
  0 0 40px #005a9f,
  0 0 50px #005a9f,
  0 0 60px #005a9f,
  0 0 70px #005a9f,
  0 0 80px #005a9f,
  0 0 90px #005a9f,
  0 0 100px #005a9f,
  0 0 110px #005a9f,
  0 0 120px #005a9f,
  0 0 130px #005a9f;
}
#content03 #inner.p04 .loader::after {
  background-color: #8e30d2;
  box-shadow: 0 0 10px #5e009f,
  0 0 20px #5e009f,
  0 0 30px #5e009f,
  0 0 40px #5e009f,
  0 0 50px #5e009f,
  0 0 60px #5e009f,
  0 0 70px #5e009f,
  0 0 80px #5e009f,
  0 0 90px #5e009f,
  0 0 100px #5e009f,
  0 0 110px #5e009f,
  0 0 120px #5e009f,
  0 0 130px #5e009f;
}
#content03 #inner.p05 .loader::after {
  background-color: #fecf8c;
  box-shadow: 0 0 10px #fbbb60,
  0 0 20px #fbbb60,
  0 0 30px #fbbb60,
  0 0 40px #fbbb60,
  0 0 50px #fbbb60,
  0 0 60px #fbbb60,
  0 0 70px #fbbb60,
  0 0 80px #fbbb60,
  0 0 90px #fbbb60,
  0 0 100px #fbbb60,
  0 0 110px #fbbb60,
  0 0 120px #fbbb60,
  0 0 130px #fbbb60;
}
#content03 .loader span {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: #000;
  border-radius: 50%;
  z-index: 2;
}
#content03 .textBox {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
}
#content03 .title {
  font-size: 2.4rem;
}
#content03 .content_des {
  font-size: 3.4rem;
  font-weight: bold;
  margin-top: 3rem;
}
#content03 .subTextBox {
  width: 650px;
  font-size: 22px;
  text-align: left;
}
#content03 .subTextBox p{
  display: flex;
  align-items: center;
  position: relative;
  width: auto;
  height: 120px;
  z-index: 10;
}
#content03 .subTextBox p span {
  position: absolute;
  top: 55px;
  left: -50px;
  display: none;
  width: 8px;
  height: 8px;
  background-color: #b71b1b;
  border-radius: 50%;
  transition: .3s;
}
#content03 .subTextBox p:nth-child(1){
  margin-left: 156px;
}
#content03 .subTextBox p:nth-child(1).active span {
  display: block;
  background-color: #78c4ff;
}
#content03 .subTextBox p:nth-child(2){
  margin-left: 215px;
}
#content03 .subTextBox p:nth-child(2).active span{
  display: block;
  background-color: #c600b1;
}
#content03 .subTextBox p:nth-child(3){
  margin-left: 222px;
}
#content03 .subTextBox p:nth-child(3).active span{
  display: block;
  background-color: #005a9f;
}
#content03 .subTextBox p:nth-child(4){
  margin-left: 179px;
}
#content03 .subTextBox p:nth-child(4).active span{
  display: block;
  background-color: #5e009f;
}
#content03 .subTextBox p:nth-child(5){
  margin-left: 97px;
}
#content03 .subTextBox p:nth-child(5).active span{
  display: block;
  background-color: #fbbb60;
}
#content03 .subTextBox_background {
  position: absolute;
  top: 150px;
  left: 550px;
  width: 1000px;
  height: 800px;
}

#content03 .subTextBox_background img{
  width: 100%;
  opacity: 0.15;
  z-index: 5;
}

/* content04 */
#content04 {
  position: relative;
  padding-top: 40px;
}
.content04Back {
  position: absolute;
  top: 150px;
  width: 100vw;
  height: 500px;
  background-image: url("/image/economyBack.png");
  background-position-x: center;
  background-repeat: no-repeat;
}
#content04 .inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#content04 .leftBox {
  position: relative;
  left: 0;
  width: 100%;
  height: 550px;
}
#content04 .leftBox img:nth-child(2) {
  position: absolute;
  top: 64%;
  left: 62%;
  transform: translate(-50%,-50%) rotateX(17deg) rotateZ(13deg);
  perspective: 10px;
  width: 45rem;
  filter: drop-shadow(5px 3px 5px rgba(66, 66, 66, 0.6));
  animation: zerogravity2 3s linear infinite;
  animation-delay: .5s;
}
@keyframes zerogravity2 {
  0% {
    transform: translate(-50%,-50%) rotateX(17deg) rotateZ(13deg);
  }
  50% {
    transform: translate(-50%,-53%) rotateX(17deg) rotateZ(13deg);
  }
  100% {
    transform: translate(-50%,-50%) rotateX(17deg) rotateZ(13deg);
  }
}
#content04 .leftBox img:nth-child(1) {
  position: absolute;
  top: 42%;
  left: 35%;
  transform: translate(-50%,-50%) rotateX(3deg) rotateZ(344deg);
  perspective: 10px;
  width: 40rem;
  filter: drop-shadow(-5px 5px 3px rgba(255, 255, 255, 0.255));
  animation: zerogravity1 3s linear infinite;
}
@keyframes zerogravity1 {
  0% {
    transform: translate(-50%,-50%) rotateX(3deg) rotateZ(344deg);
  }
  50% {
    transform: translate(-50%,-53%) rotateX(3deg) rotateZ(344deg);
  }
  100% {
    transform: translate(-50%,-50%) rotateX(3deg) rotateZ(344deg);
  }
}
#content04 .rightBox {
  width: 550px;
  margin: 0 auto;
  margin-top: -10px;
  text-align: center;
  color: #fff;
}
#content04 .rightBox .title {
  font-size: 2.4rem;
}
#content04 .rightBox .subTitle {
  position: relative;
  font-size: 3.4rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
}
#content04 .rightBox .subTitle span{
  border-bottom: 2px solid #b71b1b;
}
#content04 .rightBox .des {
  font-size: 1.8rem;
  line-height: 26px;
}
/* content05 */
#content05 .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#content05 .title {
  font-size: 2.4rem;
  margin-top: 25px;
  color: #fff;
}
#content05 .subTitle {
  font-size: 3.4rem;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
}
#content05 .graph {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 987px;
  height: auto;
  margin-top: 50px;
}
#content05 .graph .economy{
  width: 100%;
}
#content05 .des {
  width: 660px;
  margin-top: 60px;
  font-size: 1.8rem;
  line-height: 26px;
  text-align: center;
  color: #fff;
}

/* content06 */
#content06 {
  position: relative;
  background-image: url("/image/roadmapBack.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#content06 .inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 0 auto;
}
#content06 .loadBox01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-align: end;
  margin-top: 60px;
}
#content06 .loadBox01 p{
  text-align: end;
  color: #fff;
  width: 250px;
  margin-left: 55px;
}
#content06 .loadBox01 p:nth-child(1) {
  font-size: 2.4rem;
  margin-top: 25px;
}
#content06 .loadBox01 p:nth-child(2) {
  font-size: 3.4rem;
  font-weight: bold;
  margin-top: 25px;
}
#content06 .roadLine::before {
  content: "";
  position: absolute;
  top: 210px;
  right: 300px;
  display: block;
  width: 30000px;
  height: 1px;
  background-color: #b71b1b;
}
#content06 .roadLine::after {
  content: "";
  position: absolute;
  top: 210px;
  left: 50%;
  display: block;
  width: 330px;
  height: 1px;
  background-color: #b71b1b;
}
#content06 .roadDot,
#content06 .roadDot02 {
  display: block;
  position: absolute;
  top: 204px;
  left: calc(50% - 365px);
  width: 15px;
  height: 15px;
  background-color: #b71b1b;
  border-radius: 50%;
}
#content06 .roadDot02 {
  left: calc(50% + 270px);
}
#content06 .loadBox {
  display: flex;
  margin-top: 85px;
}
#content06 .loadBox02 {
  width: 450px;
  margin-left: 200px;
}
#content06 .loadBox03 {
  width: 340px;
  margin-left: 185px;
}
#content06 .year {
  font-size: 25px;
  color: #b71b1b;
  margin-bottom: -20px;
}
#content06 ul {
 margin-top: 50px; 
}
#content06 ul p,
#content06 ul li {
  font-size: 1.8rem;
  line-height: 22px;
  color: #fff;
}
#content06 ul p {
  margin-bottom: 10px;
}

/* content07 */
#content07 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  padding-bottom: 70px;
}
#content07 .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#content07 .title {
  color: #fff;
  font-size: 34px;
}
#content07 .photoBox {
  width: 1200px;
  height: 460px;
  margin-top: 58px;
}
#content07 .photoBox .photoBox_inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

#content07 .photoBox .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #b71b1b;
  padding: 75px 0 55px;
  border-radius: 33px;
  margin: 0 16px;
}
#content07 .photoBox .profile .imgBox {
  width: 200px;
  height: 190px;
  border-radius: 33px;
  overflow: hidden;
}
#content07 .photoBox .profile .imgBox img{
  width: 100%;
}
#content07 .photoBox .profile p {
  color: #fff;
}
#content07 .photoBox .profile .position {
  position: relative;
  font-size: 23px;
  font-weight: bold;
  margin-top: 35px;
}
#content07 .photoBox .profile .position::after {
  position: absolute;
  bottom: -15px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #b71b1b;
}
#content07 .photoBox .profile .name {
  margin-top: 30px;
  font-size: 14px;
}
#content07 .photoBox .profile .name span {
  font-size: 20px;
}
#content07 .photoBox .profile .major {
  font-size: 16px;
  margin-top: 15px;
}
.slick-prev,
.slick-next {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 460px;
  border: none;
  background-color: transparent;
  color: #fff;
}
.slick-prev::after {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(-50%,-50%) rotate(90deg);
  content:"";
  width: 40px;
  height: 40px;
  background-image: url("/image/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slick-next::after {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%,-50%) rotate(270deg);
  content:"";
  width: 40px;
  height: 40px;
  background-image: url("/image/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  width: 1300px;
  height: 185px;
}
.footer .foot_inner {
  display: flex;
  position: relative;
  border-top: 1px solid #fff;
  margin: 0 auto;
  width: 100%;
  height: 185px;
}
.footer .imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 110px;
}
.footer .imgBox img {
  width: 145px;
  height: 45px;
}
.footer p {
  font-size: 14px;
  color: #fff;
  margin-top: 32px;
}
.footer .iconBox {
  display: flex;
  position: absolute;
  top: 30px;
  right: 25px;
}
.footer .iconBox .icon {
  width: 35px;
  height: 35px;
  border: 1px solid #b71b1b;
  border-radius: 50%;
  margin-left: 10px;
}
.footer .iconBox .icon a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.footer .iconBox .icon img{
  width: 70%;
  height: 70%;
}
.footer .iconBox .icon:hover{
  background-color: #b71b1b;
}
.footer .iconBox .icon:nth-child(1) img{
  width: 100%;
  height: 80%;
}
.footer .iconBox .icon:nth-child(2) img{
  width: 60%;
  height: 60%;
  margin-right: 2px;
  margin-top: 2px;
}

@media (max-width: 1366px) {
  .header_inner nav {
    position: absolute;
    top: 110px;
    right: -300px;
    width: 300px;
    height: 540px;
    border: 1px solid rgba(255, 255, 255, 0.219);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 37px 0 37px 40px;
    background-color: #000;
    transition: .4s;
  }
  .header_inner nav.active {
    right: 0;
  }
  .header_inner nav ul {
    flex-direction: column;
  }
  .header_inner nav ul li {
    margin: 23px 0;
    padding: 0;
  }
  .header_inner nav ul li a:hover {
    color: #b71b1b;
  }
  .langBox {
    right: 120px;
  }
  .m_hamburger {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 18px;
    right: 30px;
    cursor: pointer;
  }
  .m_hamburger::after {
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "";
    width: 3px;
    height: 3px;
    background-color: #b71b1b;
    border-radius: 50%;
  }
  .m_hamburger span {
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 9px 0;
  }
}